html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.landing-page {
    height: 100vh;
    width: 84vw;
    margin-right: 8vw;
    margin-left: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.landing-text {
    height: 90%;
    width: 46%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-images {
    height: 90%;
    width: 54%;
    display: flex;
    justify-content: space-around;

}

.landing-title {
    font-size: 2.4rem;
    margin: 0;
}

.landing-paragraph {
    font-size: 1.4rem;
    line-height: 2rem;
}

.form-btn {
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    width: fit-content;
    padding: 12px 15px;
    border-radius: 10px;
    margin:30px 0 ;
}

.image1 {
    height: 80vh;
    width: 44%;
    align-self: flex-end;
}

.image1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
    border: 1px solid rgb(224, 224, 224);
}

.image2 {
    height: 80vh;
    width: 44%;
}

.image2>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
    border: 1px solid rgb(224, 224, 224);
}

.form-page {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

.personal-info {
    width: calc(30% - 60px);
    background-color: rgba(0, 0, 0, 0.7 );
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}

.other-info {
    width: calc(70% - 80px);
    height: 100vh;
    margin: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.other-info::-webkit-scrollbar {
    display: none;
}

.other-info-title {
    font-size: 2rem;
}

.subsection-title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 10px;
    border-top: 1px solid rgb(230, 230, 230);
}

.profile-image {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    font-size: .85rem;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
    font-weight: 600;
}


.personal-info>label {
    color: rgba(255, 255, 255, 0.9);
    font-size: .9rem;
    margin-top: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.personal-info>input {
    margin-top: 6px;
    border-radius: 12px;
    height: 50px;
    border: none;
    padding: 0 10px;
    font-size: .9rem;
    font-weight: 600;
    color: rgb(80, 80, 80);
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.other-info-label {
    font-size: .9rem;
    margin-top: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.other-info-input {
    margin-top: 6px;
    border-radius: 12px;
    height: 50px;
    border: 1px solid rgb(230, 230, 230);
    padding: 0 10px;
    font-size: .9rem;
    font-weight: 600;
    background-color: rgb(240, 240, 240);
}

.other-info-textarea {
    margin-top: 6px;
    border-radius: 12px;
    height: 100px;
    border: 1px solid rgb(230, 230, 230);
    padding: 0 10px;
    font-size: .9rem;
    font-weight: 600;
    background-color: rgb(240, 240, 240);
    resize: none;
    padding-top: 10px;
}

.two-inputs-perline {
    display: flex;
    justify-content: space-between;
}

.two-inputs-perline>div {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.select-container {
    width: 200px;
    position: relative;
    display: inline-block;
}
.submit-btn {
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    width: fit-content;
    padding: 12px 15px;
    border-radius: 10px;
    margin:30px 0 ;
}
.submit-btn1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
    width: fit-content;
    padding: 12px 15px;
    border-radius: 10px;
    margin:30px 0 ;
}

span {
    font-size: .9rem;
    margin-top: 15px;
    margin-left: 10px;
}

.personal-info > span {
    font-size: .9rem;
    margin-top: 15px;
    margin-left: 10px;
    color: white;
}

.strong{
    font-weight: 600;
    background-color: rgb(255, 255, 255);
}

.langage-badge{
    background-color: rgb(255, 255, 255);
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    background-color: #2E8BC0;
}
display-langues{
    font-size: 5px;
}